node_modules
.swc
.next
.cache
build
dist
coverage
public
node_modules
next-env.d.ts
next.config.ts
package-lock.json
yarn.lock
eslint.config.mjs
postcss.config.mjs
.prettierrc
jest-sonar-reporter.json
azure-pipeline.yml
README.md
tailwind.config.ts
tsconfig.json
wrangler.jsonc
src/app/globals.css
